/****** Script for SelectTopNRows command from SSMS  ******/
SELECT PCP.PC_ProcessCode AS [ITEMNUM]
	  ,NULL AS [TASK_CODE]
	  ,TASK.[Task_ID] AS [CTITO_TASK_CODE]
	  ,TDTEAIL.Task_Description AS [CTITODESC]
	  ,TASK.[TR_UID] AS [USER_ID]
	  ,TASK.[TR_Shipment] AS [SHIP_NUM]
	  ,USERD.P_Shift AS [SHIFT]
	  ,NULL AS [GUEST]
	  ,CONVERT(date, TASK.TR_InDate) AS [WORKDATE]
	  ,NULL [SERVER]
	  ,CONVERT(date, TASK.TR_InDate) AS [DATEIN]
	  ,CONVERT(date, TASK.TR_OutDate) AS [DATEOUT]
	  ,CONVERT(time, TASK.TR_InDate) AS [TIMEIN]
	  ,CONVERT(time, TASK.TR_OutDate) AS [TIMEOUT]
	  ,NULL AS [EDITED]
	  ,TASK.[TR_UOM] AS [UNIT]
	  ,TASK.[TR_FileSize] AS [VAL_1]
	  ,TASK.[TR_File] AS [FNAME]
	  ,'0' AS [ACTSIZE]
	  ,TASK.[TR_FileSize] AS [APPSIZE]
	  ,NULL [SAVEDATE]
	  ,NULL [SAVETIME]
	  ,NULL [FACILITY]
	  ,NULL [DEFF_PATH]
	  ,TASK.[TR_Hours] AS [WORKHOURS]
      ,NULL [PC_CODE]
	  ,NULL [UNIQUE]
	  ,NULL [REG_HOURS]
	  ,NULL OT_HOUR	
		,NULL STAT_CODE
		,NULL DIV_CODE
		,NULL POS_CODE
		,NULL ITEMDIV
		,NULL OT_PAY
		,NULL BEN_COST
		,NULL TOT_COST
		,NULL DTOT_COST
		,NULL NOBURDEN
		,NULL DNOBURDEN
		,NULL INDIRECT
		,NULL FINAL
		,NULL REG_PAY
		,NULL OT_CODE
		,NULL IDLEHOUR
		,NULL IDLE_PAY
		,NULL DLCOST
		,NULL ADJCOST
		,NULL LOADCOST
		,NULL ADJ_WH
		,NULL ADJ_IDLE
		,NULL APP_IDLE
		,NULL OVERHEAD_C
		,NULL PROJCODE
		,NULL DUPLICATE
		,NULL RECTYPE


  FROM [CITITO].[dbo].[tbl_TaskRecordDetail] TASK
  INNER JOIN tbl_PCPDetail PCP ON PCP.PCP_ID=TASK.PCP_ID AND TASK.Task_ID=PCP.Task_ID
  INNER JOIN tbl_TaskDetail TDTEAIL ON TDTEAIL.PC_ProcessCode=PCP.PC_ProcessCode AND PCP.Task_ID=TDTEAIL.Task_ID AND PCP.PCP_Project=TDTEAIL.PIC_Project
  INNER JOIN tbl_UserManagementHeader USERD ON USERD.P_UID=TASK.TR_UID
  WHERE TR_InDate BETWEEN '2018-09-01' AND '2018-09-30' AND TR_Apporval=2
  ORDER BY TASK.[TR_Index]
