--EXEC DBoard_TasksAndQuota 'ZDQ', '2018-02-01', '2018-02-28'

--EXEC DBoard_AllTasksAndQuota 'ZDQ', '2018-02-01', '2018-02-28'

--EXEC DBoard_X3byUser_Ranked 'ZDQ', '2018-02-01', '2018-02-28'

EXEC Dboard_WasteByDateGraph 'ZDQ', '2018-02-01', '2018-02-28'

CREATE PROC Dboard_WasteByDateGraph @mPIC nvarchar(30), @mFrom DateTime, @mTo DateTime

AS

DECLARE @TempAMSDIFF_@mPIC TABLE(

[UID] nvarchar(50), 
[WORKDATE] DateTime,
[FLOGIN] DateTime,
[LLOGOUT] DateTime,
[DIFFIN] Time,
[SHIFT] Time,
[DIFFOUT] Time
); 

INSERT INTO @TempAMSDIFF_@mPIC
SELECT T.TR_UID AS [UID], convert(date,L.[DATE]) AS [DATE],L.FIRSTLOGIN, L.LASTLOGOUT, CONVERT(TIME,MIN(T.TR_InDate) - L.FIRSTLOGIN) AS [DIFFIN], CONVERT(TIME, (L.LASTLOGOUT - L.FIRSTLOGIN) - ((MIN(T.TR_InDate) - L.FIRSTLOGIN) + (L.LASTLOGOUT - MAX(T.TR_OutDate)))) AS [SHIFT], CONVERT(TIME, L.LASTLOGOUT - MAX(T.TR_OutDate)) AS [DIFFOUT]
	FROM tbl_TaskRecordDetail T
	INNER JOIN tbl_UserLILO L ON T.TR_UID=L.[UID] AND L.[DATE]=convert(date, T.TR_InDate)
	WHERE T.TR_PIC=@mPIC AND T.TR_InDate BETWEEN @mFrom AND @mTo
	GROUP BY  T.TR_UID, L.[DATE], L.FIRSTLOGIN, L.LASTLOGOUT
	HAVING (CAST(ROUND(DATEDIFF(MINUTE,L.LASTLOGOUT, MAX(T.TR_OutDate))/60.0, 3)AS decimal (6,3))) NOT IN (0)
	ORDER BY L.[DATE] DESC

SELECT convert(date, WORKDATE) AS [WORKDATE], CAST(CAST(SUM(( DATEPART(hh, [DIFFIN]) * 3600 ) + ( DATEPART(mi, [DIFFIN]) * 60 ) + DATEPART(ss, [DIFFIN])) AS float)/3600 AS decimal(6,3)) AS [MORNING WASTE], CAST(CAST(SUM(( DATEPART(hh, [SHIFT]) * 3600 ) + ( DATEPART(mi, [SHIFT]) * 60 ) + DATEPART(ss, [SHIFT])) AS float)/3600 AS decimal(6,3)) AS [PRODUCTIVE HOURS], CAST(CAST(SUM(( DATEPART(hh, [DIFFOUT]) * 3600 ) + ( DATEPART(mi, [DIFFOUT]) * 60 ) + DATEPART(ss, [DIFFOUT])) AS float)/3600 AS decimal(6,3)) AS [AFTERNOON WASTE]
FROM @TempAMSDIFF_@mPIC
GROUP BY WORKDATE

GO




SELECT T.TR_UID AS [UID], convert(date,L.[DATE]) AS [DATE],L.FIRSTLOGIN, L.LASTLOGOUT, MIN(T.TR_InDate), MAX(T.TR_OutDate), CONVERT(TIME,MIN(T.TR_InDate) - L.FIRSTLOGIN) AS [DIFFIN], CONVERT(TIME, (L.LASTLOGOUT - L.FIRSTLOGIN) - ((MIN(T.TR_InDate) - L.FIRSTLOGIN) + (L.LASTLOGOUT - MAX(T.TR_OutDate)))) AS [SHIFT], CONVERT(TIME, L.LASTLOGOUT - MAX(T.TR_OutDate)) AS [DIFFOUT]
	FROM tbl_TaskRecordDetail T
	INNER JOIN tbl_UserLILO L ON T.TR_UID=L.[UID] AND L.[DATE]=convert(date, T.TR_InDate)
	WHERE T.TR_PIC='ZDQ' AND T.TR_InDate BETWEEN '2018-02-01' AND '2018-02-28'
	GROUP BY  T.TR_UID, L.[DATE], L.FIRSTLOGIN, L.LASTLOGOUT
	HAVING (CAST(ROUND(DATEDIFF(MINUTE,L.LASTLOGOUT, MAX(T.TR_OutDate))/60.0, 3)AS decimal (6,3))) NOT IN (0)
	ORDER BY L.[DATE] DESC
